<div *ngIf="firebaseUserAuthService.auth.user| async as firebaseUser" class="userConnecter">
  <h2>
    <img [src]=firebaseUser.photoURL  alt="No Picture"/>
    {{ firebaseUser.displayName?firebaseUser.displayName:firebaseUser.email  }} <span>connecté</span>
  </h2>
  <button (click)="firebaseUserAuthService.signOutUser()"> <b>Se déconnecter</b> </button>
  <hr>
  <button (click)="exportToJson()"> <b>export to JSON</b> </button>
</div>

<section class="todoapp" *ngIf="ObsTodoServiceFiltered | async as obsTodoList">
  <header class="header">
    <h1> {{obsTodoList.label}} </h1>

    <form (ngSubmit)="addTask(lab.value); lab.value=''">
      <input  name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus
              #lab/>
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
    />
    <label for="toggleAll">Mark all as complete</label>
    <ul class="todo-list">
      <li
            *ngFor="let item of obsTodoList.items; trackBy: trackById"
            [class.editing]="idForEditing.isEditing"
            [class.completed]="item.isDone">

        <app-todo-item
          [todoItem]="item"
          #idForEditing
          (remove)="delete($event)"
          (update)="update($event, item)"
        >
        </app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong *ngIf="restantes(obsTodoList.items)>0"> {{ restantes(obsTodoList.items) }} </strong> restantes</span>
    <ul class="filters">
      <li>
        <a class="filterAll" (click)="setFilterState('filterAll')">Tous</a>
      </li>
      <li>
        <a class="filterActives" (click)="setFilterState('filterActives')">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" (click)="setFilterState('filterCompleted')">Complétés</a>
      </li>
    </ul>
    <button class="clear-completed" (click)="setFilterState('deleteChecked')" >Supprimer cochées</button>
  </footer>
</section>
