<h1>TP TodoList</h1>

<form (ngSubmit)="submitForm(name.value); name.value=''">
  <input #name type="text" >
</form>

<ul *ngIf="(ObsTodoService | async) as obsService" >
  <li *ngFor="let item of obsService.items; trackBy: trackById">
    <input type="checkbox" [ngModel]="item.isDone" (ngModelChange)="update({isDone: $event}, item)">
    <input type="text" [ngModel]="item.label" (ngModelChange)="update({label: $event}, item)">
    <button (click)="delete(item)">Delete</button>
  </li>
</ul>

<hr>
<pre>
  {{ ObsTodoService | async | json }}
</pre>
