

<div class="container">
  <router-outlet></router-outlet>
</div>

  <!--
    <div>
    <ul>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="/sign-in">Connexion</a>
      </li>
    </ul>

    <ul>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="/sign-up">Inscription</a>
      </li>

      <li  style="cursor:pointer" *ngIf="isAuth">
        <a (click)="onSignOut()"  > Deconnexion</a>
      </li>
    </ul>
  </div>
   -->




<!--
  <div *ngIf="auth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>

<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>

--------------
<h1>TP TodoList</h1>
<hr>

<app-todo-list></app-todo-list>

<hr>
<hr>

<form (ngSubmit)="submitForm(name.value); name.value=''">
  <input #name type="text" >
</form>

<ul *ngIf="(ObsTodoService | async) as obsService">
  <li *ngFor="let item of obsService.items; trackBy: trackById">
    <input type="checkbox" [ngModel]="item.isDone" (ngModelChange)="update({isDone: $event}, item)">
    <input type="text" [ngModel]="item.label" (ngModelChange)="update({label: $event}, item)">
    <button (click)="delete(item)">Delete</button>
  </li>
</ul>

<hr>
<pre>
  {{ ObsTodoService | async | json }}
</pre>
-->
