<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Inscription nouvelle utilisateur</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label for="pwd">Mot de passe</label>
        <input type="password" id="pwd" class="form-control" formControlName="pwd">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid">Inscription</button>
    </form>
    <p class="text-danger"> {{ msgError }} </p>
  </div>

</div>
