<div class="view">
  <input  class = "toggle"
          type  = "checkbox"
          name  = "done"
          [ngModel]="todoItem.isDone"
          (ngModelChange)="update.emit({isDone:$event})"
  />

  <label
    class="texte"
    (dblclick)="isEditing=true"
  >
    {{ todoItem.label }}
</label>

  <button class="destroy" (click)="remove.emit(todoItem)"></button>
</div>


<form (ngSubmit)="update.emit({label:newTextInput.value});isEditing = false" >
  <input  #newTextInput
  [value]="todoItem.label"
          name      = "newTextInput"
          class     = "edit"
          (blur)="update.emit({label:newTextInput.value});isEditing = false"
  />
</form>
